.upgradesFish {
    .upgradesFish__displaySection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 90vh;
        max-width: 800px;
        margin: 0 auto;
        .upgradeElement {
            width: 150px;
            padding: 5px;
            background-color: #333;
            color: white;
            margin: 5px;
            .upgradeElement__bonus {
                color: orange;
            }
            .upgradeElement__price {
                color: orange;
            }
            .upgradeElement__btn {
                color: black;
            }
        }
        .disabled {
          opacity: 0.5;
          .upgradeElement__curserWrap {
              cursor: not-allowed;
          }
          .upgradeElement__btn {
              pointer-events: none;
              color: white;
          }
      }
    }
}