.score {
    display: flex;
    justify-content: center;
    .score__value {
        padding: 5px 20px;
        font-size: 25px;
        font-weight: 700;
        flex: 1;
        @media screen and (max-width: 576px) {
            padding: 2px;
            font-size: 20px;
        }
        .score__num {
            color: black;
        }
    }
}