.upgradesFish,
.upgradesSale {
    &__displaySection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 90vh;
        max-width: 800px;
        margin: 0 auto;
        .upgradeElement {
            width: 150px;
            padding: 5px;
            background-color: #333;
            color: white;
            margin: 5px;
            @media screen and (max-width: 576px) {
                width: 140px;
            }
            .upgradeElement__bonus {
                color: orange;
            }
            .upgradeElement__price {
                color: orange;
            }
            .upgradeElement__btn {
                color: black;
            }
        }
        .enabled {
            -webkit-animation: wobble-hor-bottom 0.8s both;
            animation: wobble-hor-bottom 0.8s both;
        }
        .disabled__initial {
            opacity: 0;
            visibility: hidden;
        }
        .disabled {
            opacity: 0.5;
            .upgradeElement__curserWrap {
                cursor: not-allowed;
            }
            .upgradeElement__btn {
                pointer-events: none;
                color: white;
            }
        }
    }
}