.upgradesFish,
.upgradesSale {
    &__displaySection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 90vh;
        max-width: 800px;
        margin: 0 auto;
        .upgradeElement {
            font-size: 20px;
            width: 190px;
            padding: 5px;
            background-color: #333;
            color: white;
            margin: 5px;
            border: 1px solid black;
            -webkit-box-shadow: -1px 1px black, -2px 2px black, -3px 3px black, -4px 4px black, -5px 5px black;
            -moz-box-shadow: -1px 1px black, -2px 2px black, -3px 3px black, -4px 4px black, -5px 5px black;
            box-shadow: -1px 1px black, -2px 2px black, -3px 3px black, -4px 4px black, -5px 5px black;
            transition: all;
            &:active {
                -webkit-box-shadow:  -1px 1px black;
                -moz-box-shadow: -1px 1px black;
                box-shadow: -1px 1px black;
            }
            @media screen and (max-width: 576px) {
                width: 140px;
                font-size: 16px;
            }
            .upgradeElement__bonus {
                color: orange;
            }
            .upgradeElement__price {
                color: orange;
            }
            .upgradeElement__btn {
                color: black;
                background-color: #f4f4f4;
                border: none;     
                &:focus {
                    outline: none;
                }
                &:active {
                    border: black 1px solid;
                }
            }
        }
        .enabled {
            -webkit-animation: wobble-hor-bottom 0.8s both;
            animation: wobble-hor-bottom 0.8s both;
        }
        .disabled__initial {
            opacity: 0;
            visibility: hidden;
            display: none;
        }
        .disabled {
            opacity: 0.5;
            .upgradeElement__curserWrap {
                cursor: not-allowed;
            }
            .upgradeElement__btn {
                pointer-events: none;
                color: white;
            }
        }
    }
}