.homePage {
    .homePage__valueBtn {
        padding: 10px;
        background-color: #333;
        width: 150px;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        border: none;
        margin: 0 10px;
        transition: all;
        &:focus {
            outline-color: transparent;
        }
        &:active {
            animation: pulse 0.1s;
            background-color: darken(#333, 10%);
        }
    }
    .homePage__upgrade {
        display: flex;
        align-content: center;
        justify-content: center;
        .homePage__upgradeBtn {
            padding: 10px;
            background-color: #333;
            width: 150px;
            color: white;
            font-size: 16px;
            border: none;
            margin: 10px 0;
            &:focus {
                outline-color: transparent;
            }
            &.active {
                background-color: darken(#333, 10%);
            }
            &.disabled {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

@keyframes pulse {
    0% {}
    100% {
        box-shadow: 0px 0px 30px 5px #333;
    }
}