.homePage {
    .homePage__valueBtn {
        padding: 10px;
        background-color: #333;
        width: 150px;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        border: none;
        &:focus {
            outline-color: transparent;
        }
    }
    
}